
@import '~antd/dist/antd.css';
body{
  font-family: sans-serif;
}

.code-box-demo {
  text-align: center;
}

.ant-layout-content {
  /* background: rgba(16, 142, 233, 1);
  color: #fff; */
  /* background: #fff; */
  background: rgb(236, 230, 230);
  min-height: 120px;
  line-height: 120px;
}

.ant-layout-header {
  background: #b3282d;
  color: #fff;
}

[data-theme="dark"] .ant-layout-header {
  background: #6aa0c7;
}
[data-theme="dark"] .ant-layout-footer {
  background: #6aa0c7;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}
[data-theme="dark"] .ant-layout-sider {
  background: #3499ec;
}

[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
}
.code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}

/* style for steps */
[data-theme='compact'] .site-navigation-steps,
.site-navigation-steps {
  /* margin-bottom: 60px; */
  margin-bottom: 2.5rem;
  box-shadow: 0px -1px 0 0 #e8e8e8 inset;
}

.stc-form {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 20px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding: 4rem 14rem;
  margin: 0 8rem;
  /* min-height: 31rem; */
}

.form-content {
  padding-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 20px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  min-height: 31rem;
}

.form-content .noah {
  margin: 2rem 14rem;
}

.form-content .ant-descriptions-item-label {
  font-weight: bold;
}

.steps-action {
  margin-top: 24px;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: #d9272e;
}

.ant-steps-item-process .ant-steps-item-icon {
  border-color: #d9272e;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff;
  border-color: #d9272e;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
  color: #d9272e;
}

.ant-steps-navigation .ant-steps-item:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline-block;
  width: 0;
  height: 3px;
  background-color: #d9272e;
  transition: width .3s,left .3s;
  transition-timing-function: ease-out;
  content: "";
}

/* general steps */
.stc-button {
  color: #fff;
  /* background-color: #d9272e;
  border-color: #d9272e; */
  border-radius: 10px;
  font-size: medium;


  padding: 0.5rem 2rem 2rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  /* font-family: NSBold!important; */
}

.ant-btn-primary {
   background-color: #d9272e;
  border-color: #d9272e;
}

.ant-btn-primary:hover {
  background-color: #d9272ec4;
  border-color: #d9272ec4;
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input-affix-wrapper:hover, .ant-form-item-has-error .ant-input:hover {
  background-color: #fff;
  border-color: #ff4d4f;
}

.ant-input {
  height: 2.5rem;
  border-radius: 0.8rem
}

.ant-input:hover {
  border-color: #d9272ec4;
}

.ant-form label {
  font-weight: bolder;
}

/* ************ */

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

/* ach feature */
.text-agreement {
  text-align: justify;
  padding: 2.5rem;
}

/* main style */
.stc-header-top-row {
  text-align: center;
}

.stc-landing-header {
  max-width: 163px;
}

/************************************************************** tabs *************************************************/
.ant-card-bordered {
  /* border: 1px solid #d9272e; */
  border: 0;
}

.stc-icon-size {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.stc-tab-border {
  padding: 1.5px 6px;
  flex: 1 1 auto;
  /* width: 20vw; */
  /* width: 77vmin; */ /*Este funciona mejor de tables para arriba*/
  width: 21vmax;/*Este funciona mejor de tables para abajo*/
}

.stc-tab {
  background: rgb(236, 230, 230);
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  border: 5px solid #d9272e;
}

.stc-tabs .ant-tabs .ant-tabs-nav-container {
  /* padding: 1rem;*/
  background: #d22630; 
  /* background:#000000; */
  border: none;
  border-radius: 4rem;
  height: 10%;
}

.stc-tabs .ant-card-head{
  background: #d22630;
  /* padding: 1rem 5rem; */
  padding: 1rem;
}

.stc-tabs .ant-card-body {
  background: #f0f2f5;
  /* border-radius: 40px;
  padding: 4rem 24px; */
}

.stc-tabs > .ant-card-head .ant-card-head-title h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.23;
  white-space: initial;
}

.stc-tabs .ant-tabs-nav.ant-tabs-nav-animated > div:first-child {     
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ant-tabs-bar.ant-tabs-top-bar.ant-tabs-large-bar {
  border-bottom: 1px solid #d22630;
}

/* Fixing */
.ant-tabs .ant-tabs-large-bar .ant-tabs-tab {
  padding: 0.8rem 0;
}

.ant-tabs-nav .ant-tabs-tab {
  margin: 0;
}

.ant-tabs-bar.ant-tabs-top-bar.ant-tabs-large-bar{
  width: 84%;
  margin: 0 auto 16px;
}

/* Titles */

.stc-tab-border .ant-card-meta-title{
  white-space: initial;
}

/* Marked tab */
.ant-tabs-ink-bar {
  background-color: white;
}

/**************************************************** Steps ***********************************************/
.stc-tabs .ant-card-body .stc-card-widget {
  box-shadow: 0 0 5px 5px rgba(0,0,0,.03);
  border-radius: 3rem 3rem 3rem 3rem;
  width: 84%;
  /* text-align: center; */
  margin: 0 auto;
  /* margin: 0 auto 3rem;  */
}
.stc-tabs .ant-card-body .stc-card-widget .ant-card-head-title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}


.stc-content {
  margin: 2rem 0;
}

.stc-content .ant-card.stc-card-widget.ant-card-bordered .ant-card-head-title {
  font-size: 1.5rem;
  font-weight: bolder;
  /* color: white; */
  color: black;
}

.stc-content .ant-card.stc-card-widget.ant-card-bordered {
  box-shadow: 0 0 5px 5px rgba(0,0,0,.03);
  border-radius: 3rem 3rem 3rem 3rem;
  width: 84%;
  margin: 0 auto;
}

.stc-content .ant-card.stc-card-widget.ant-card-bordered .ant-card-body{
  border-radius: 3rem;;
}



/* .stc-tabs .ant-card-body .stc-card-widget .ant-card-body{
  box-shadow: 0 0 5px 5px rgba(0,0,0,.03);
  border-radius: 0 0 3rem 3rem;
}

.stc-tabs .ant-card-body .stc-card-widget .ant-card-head{
  box-shadow: 0 0 5px 5px rgba(0,0,0,.03);
  border-radius: 3rem 3rem 0 0;
}

.stc-card-widget .ant-card-body {
  background: white;
} */

/********************************************** Footer ****************************************************/
.ant-layout-footer {
  background: #d22630;
  color: #fff;
}
.ant-layout-footer {
  padding: 24px 0 0;
}

.stc-footer-base {
  padding: 1rem 0 1.25rem;
  margin-top: 0.5rem;
  background: #b3282d;
}

.stc-footer .ant-row .ant-col {
text-align: center;
}

.stc-footer-site{
  /* margin-top: 1rem; */
  text-align: center;
  font-size: 1rem;
}

/************************************+ Tabs ************************************************/
.stc-head-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:#000;
  /* border-radius: 3rem 3rem 3rem 3rem; */
  border-radius: 40px;
  width: 83%;
  margin: 0 auto;
  padding: 1rem;
}

.stc-main-title {
  width: 90%;
  margin: 0 auto;
}

.stc-card-title {
  text-align: center;
  background: pink;
}

.stc-card-title {
  text-align: center;
  background: blue;
}

.stc-tabs.ant-row.ant-row-center.ant-row-middle {
  background-color: green;
  padding: 0 0 1rem;
}

.stc-tabs.ant-row.ant-row-center.ant-row-middle .stc-main-title h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.23;
  white-space: initial;
}

/* Content */
.stc-tabs .ant-card-body {
  /* background: #f0f2f5; */
  background: pink;
  border-radius: 40px;
}

/* Inicio Estilos que puede servir */
/* .ant-card-bordered {
  border: 1px solid #d9272e;
  // border: 0;
} 
.stc-tabs .ant-card-body {
  background: pink; 
  border-radius: 40px;
}
*/





/* .stc-tabs .ant-tabs .ant-tabs-nav-container {
  background: #d22630; 
  border: none;
  border-radius: 4rem;
  height: 10%;
} */

/* .stc-tabs .ant-card-head {
  background: #d22630;
  padding: 1rem 5rem;
  padding: 1rem;
} */

/* .stc-tabs .ant-card-body {
  background: #f0f2f5;
} */

/* .stc-tabs > .ant-card-head .ant-card-head-title h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.23;
  white-space: initial;
} */

/* .stc-tabs .ant-tabs-nav.ant-tabs-nav-animated > div:first-child {     
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .ant-tabs-bar.ant-tabs-top-bar.ant-tabs-large-bar {
  border-bottom: 1px solid #d22630;
}  */

/* Fin Estilos que puede servir */