
@import '~antd/dist/antd.css';
@import './res/fonts/fonts.css';

body {
  font-family: 'neo_sans';
}

html {
  --antd-wave-shadow-color: #d9272e;
}

h1,h2,h3{
  font-family: 'neo_sans_bld';
}
/**************************************** STC Layout  *******************************************/
/* .ant-layout {
  background-color: black; 
}

.ant-layout-header {
  background: #b3282d;
  color: #fff;
}

.ant-layout-content {
  /* padding: 4rem 0 1.5rem;
  padding: 0 0 1.5rem;
} */

.stc-main-content {
  min-height: 100vh;
  background-color: #d9272e;
  padding: 1rem;
}

.stc-landing {
  min-height: 96vh;
  background-color: #fff;
  border-radius: 1.5rem;
}

/* STC Header */
.stc-landing-top {
  text-align: center;
  border-radius: 1.5rem 1.5rem 0 0;
  /* background-color: #fff; */
  padding-top: 2.5rem;
  padding-bottom: 0rem;
}

.stc-landing-logo-header {
  /* margin-top: 1rem; */
  max-width: 22rem;
}

.stc-main-footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;
}
/* mobile */
/* .ant-modal {
  width: 22rem !important;
} */

.stc-modal-horizontal .ant-modal-body {
  padding-top: 0 !important;
}

.ant-modal-content {
  border-radius: 30px;
}

div#rcDialogTitle0{
  display: none;
}

.ant-modal h1 {
  color: #d9272e;
}
.ant-modal p {
  font-family: 'neo_sans_rglr';
  text-align: justify;
}

.ant-divider-dashed {
  background: none;
  border-style: dashed;
  border-width: 2px 0 0;
  border-color: rgba(120,119,122,0.48);
}

.ant-modal-footer {
  display: none;
}

.stc-modal-horizontal .ant-divider, .ant-divider-vertical {
  height: 12.9em;
  background: rgba(120,119,122,0.48);
  width: 2px;
}


/* mobile */

.stc-error-modal .ant-modal-content, .ant-modal-header, .ant-modal-close {
  border-radius: 1rem;
  border-bottom: 0px;
}

.stc-error-modal .ant-modal-header {
  padding: 0 24px 0px;
}

.stc-error-modal .ant-modal-header .ant-modal-title {
  color: #fff;
}

.stc-error-modal .ant-modal-body {
  padding: 0 24px 10px;
  text-align: center;
}

/* .stc-error-modal .ant-modal-close {
  border: 2px #b3282d solid;
  border-radius: 4rem;
  top: -8px;
  right: -8px;
  background: white;
} */

/* .stc-error-modal .ant-modal-close .ant-modal-close-x {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #b3282d;
  border-radius: 4rem;
  color: white;
} */

.stc-error-modal .ant-modal-close .ant-modal-close-x .anticon{
  font-size: 15px;
  font-family: 'neo_sans_bld';
}

.ant-modal.stc-error-modal {
  width: 16rem !important;
}

.stc-err-icon {
  width: 65%;
}
.stc-err-title{
  font-family: 'neo_sans_bld';
  color: #b3282d;
  margin-top: -20px;
}
/* ********************************************************************************************************************************************* */
.steps-action {
  margin-top: 24px;
}

.ant-steps .ant-steps-item:last-child {
  display: none !important;
}

.ant-steps .ant-steps-item:nth-last-child(2)::after {
  display: none !important;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: #d9272e;
}

.ant-steps-item-process .ant-steps-item-icon {
  border-color: #d9272e;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff;
  border-color: #d9272e;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
  color: #d9272e;
}
.ant-steps-navigation {
  padding-top: 0;
}

.ant-steps-navigation .ant-steps-item:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline-block;
  width: 0;
  height: 3px;
  background-color: #d9272e;
  transition: width .3s,left .3s;
  transition-timing-function: ease-out;
  content: "";
}

.ant-steps-item-title {
  white-space: initial;
  line-height: normal;
}

.ant-steps-item-error > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
  white-space: normal;
  color: #ff4d4f;
  font-family: 'neo_sans_ltght';
  font-weight: 600;
  font-size: 14px;
}



.ant-steps {
  width: 30%;
  margin: 0 auto;
}
/* ********************************************************************************************************************************************** */
/* general steps */
/* ************ */

/* #components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
} */

/* ach feature */
.text-agreement {
  text-align: justify;
  padding: 2.5rem;
}

.text-ach-agreement {
  text-align: justify;
  font-family: 'neo_sans_ltght';
  padding: 0 2.5rem;
  margin-top: -2rem;
  height: 350px;
  overflow-y: scroll;
}
/**************************************************** Content and Steps ***********************************************/
.stc-content {
  /* margin: 2rem 0; */
  margin: 0;
}

.stc-content .ant-card.stc-card-widget.ant-card-bordered .ant-card-head-title {
  font-size: 1.8rem;
  font-weight: bolder;
  /* color: white; */
  color: rgba(120 119 122);
  text-align: center;
  font-family: 'neo_sans_bld';
  padding-bottom: 0.5rem;
}

.stc-content .ant-card.stc-card-widget.ant-card-bordered {
  /* box-shadow: 0 0 5px 5px rgba(0,0,0,.03);
  border-radius: 3rem 3rem 3rem 3rem; */
  border-color: white;
  width: 84%;
  margin: 0 auto;
}

.stc-content .ant-card.stc-card-widget.ant-card-bordered .ant-card-head {
  /* background: #d22630; */
  /* padding: 1rem; */
  border-radius: 3rem 3rem 0 0;
  border-bottom: 0;
}
.stc-content .ant-card.stc-card-widget.ant-card-bordered .ant-card-body{
  border-radius: 3rem;
  padding: 0 24px;
}

/********************************************** Wrapper and form ****************************************************/
.stc-form {
  /* border: 1px dashed #e9e9e9; */
  border-radius: 20px;
  /* background-color: #fafafa; */
  /* min-height: 200px; */
  text-align: center;
  /* padding: 3rem 0; */
  /* margin: 2rem 8rem 3rem; */
  margin: 2rem 8rem 0rem;
}

.stc-form label{
  font-family: 'neo_sans_bld';
  font-size: 1.1rem;
  /* color: rgba(0,0,0,.85); */
  color: rgba(120,119,122);
}

.stc-success-message {
  font-family: 'neo_sans_ltght';
  margin: 0;
}

.stc-static-success-message {
  font-family: 'neo_sans_bld';
  width: 28rem;
  margin: 0 auto;
}

.stc-success-form .ant-row.ant-form-item {
  margin-bottom: 0.6rem;
}

.stc-form .ant-col.ant-form-item-label{
  padding-left: 0.8rem;
  padding-bottom: 0;
}

.stc-form input{
  /* font-family: 'neo_sans_ltght'; */
  font-weight: 600;
}

.stc-center-text {
  text-align: center !important;
}
.stc-center-text .ant-col.ant-form-item-label{
  text-align: center !important;
}

/* .stc-center-text label {
  text-align: center !important;
} */

.stc-tooltip{
  margin-top: -.3rem;
  margin-bottom: 0.2rem;
  text-align: initial;
  padding-left: 0.8rem;
  font-family: 'neo_sans_ltght';
}

.ant-select{
  font-family: 'neo_sans_ltght';
  font-weight: 700;
}

.ant-select-selection__rendered {
  line-height: 40px;
}

.ant-select-selection-selected-value {
  float: none;
}

/* .ant-form-vertical .ant-form-item-control{
  line-height: 0;
} */

.form-content {
  padding-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 20px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  min-height: 31rem;
}

/* .form-content .noah {
  margin: 2rem 14rem;
} */

.form-content .ant-descriptions-item-label {
  font-weight: bold;
}
/************************ Form components **********************/
.stc-button {
  color: #fff;
  border-radius: 10px;
  font-size: medium;
  font-family: 'neo_sans_bld';
  padding: 0.6rem 2rem 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
}
.stc-button-1 {
  color: #fff;
  border-radius: 10px;
  /* font-size: medium; */
  font-family: 'neo_sans_bld';
  padding: 0.4rem 1.2em 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
}

.stc-button-default {
  border-radius: 10px;
  padding: 0.6rem 2rem 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'neo_sans_bld';
}

.ant-btn-primary {
   background-color: #d9272e;
  border-color: #d9272e;
}

.ant-btn-primary:hover, .ant-btn-primary:focus, .ant-btn-primary:active, .ant-btn-primary.active {
  color: #fff;
  background: #e64e4e;
  border-color: #e64e4e;
}

.ant-input, .ant-select, .ant-select-selection.ant-select-selection--single {
  height: 2.5rem;
  border-radius: 0.8rem;
  font-size: 16px;
  background-color: rgba(120,119,122,0.08);
  border: 1px solid rgba(120,119,122,0.01);
}

.ant-input:hover, .ant-input:focus, .ant-select:hover, .ant-select:focus, .ant-select-selection.ant-select-selection--single:hover, .ant-select-selection.ant-select-selection--single:focus {
  border-color: #d9272ec4;
  -webkit-box-shadow: 0 0 0 2px rgb(255 24 77 / 20%);
  box-shadow: 0 0 0 2px rgb(255 24 99 / 20%);
}

.stc-button-default:hover, .stc-button-default:focus {
  color: #e64e4e;
  border-color: #e64e4e;
}

.ant-form label {
  font-weight: bolder;
}

.ant-row.ant-form-item.email-leyend {
  margin-top: -2rem;
}
/************************************************************** Footer *****************************************************************/
.ant-layout-footer {
  background: #d22630;
  color: #fff;
}
.ant-layout-footer {
  padding: 24px 0 0;
}

.stc-footer-base {
  padding: 1rem 0 1.25rem;
  margin-top: 0.5rem;
  background: #b3282d;
}

.stc-footer {
   color: #fff;
  }

.stc-footer .ant-row .ant-col {
text-align: center;
}

.stc-footer-site{
  /* margin-top: 1rem; */
  text-align: center;
  font-size: 1rem;
}

.stc-new-footer {
  text-align: center;
  font-size: 1rem;
  padding: 0 25rem;
}

.stc-address-title { 
  color: #fff !important;
  font-size: 0.9rem !important;
}

.stc-address-text {
  display: block;
  margin: 0.5rem;
  font-family: 'neo_sans_ltght';
  font-weight: 600;
  color: #fff;
}

.stc-link, .stc-link:hover {
  color: #fff;
  margin: 0 3px;
}
.stc-footer-icon {
  font-size: 2.25rem;
}

.stc-address-site, .stc-address-site:hover{
  font-family: 'neo_sans_ltght';
  color: #fff;
  font-weight: 600;
}
/************************************+ Tabs Menu ************************************************/
.stc-head-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  /* background-color:#d9272e; */
  /*background-color:#000;
  border-radius:40px */
  border-radius: 3rem;
  width: 83%;
  margin: 0 auto;
  /* padding: 1rem; */
  padding: 0rem 0rem .5rem;
}

.stc-main-title {
  width: 90%;
  margin: 0 auto;
}

.stc-card-title {
  text-align: center;
  /* background: pink; */
}

.stc-card-title h3 {
  font-size: 1.4rem;
  color: rgba(0,0,0,.85);
  line-height: 1.35;
}

th.ant-descriptions-item-label.ant-descriptions-item-colon {
  font-family: 'neo_sans_bld';
}

.ant-descriptions-title {
  font-family: 'neo_sans_bld';
}

.stc-tabs.ant-row.ant-row-center.ant-row-middle {
  background-color: #fff;
  /* padding: 0 0 1rem; */
  padding: 0;
}

.stc-tabs.ant-row.ant-row-center.ant-row-middle .stc-main-title h1 {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  /* color: #fff; */
  color: rgba(120 119 122);
  line-height: 1.23;
  white-space: initial;
}

/* Tab */
/************************************************************** tabs *************************************************/
.stc-tab-border {
  padding: 1.5px 6px;
  flex: 1 1 auto;
}

.stc-icon-size {
  /* height: 100px; */
  /* width: 100px; */
  width: 4.2rem;
  margin: 0 auto;
}

.stc-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(199 190 190); */
  background: rgba(120,119, 122);
  /* padding: 0.5rem; */
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  /* border: 5px solid #d9272e; */
}

.stc-tab .ant-card-meta-title {
  white-space: initial;
  /* font-family: 'neo_sans_rglr'; */
  font-family: 'neo_sans_bld';
  font-size: 1.13rem;
  /* font-weight: 700; */
  /* color: #495057; */
  color: #fff;
}

/* .stc-selected-tab .stc-card-selected-border {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  border-bottom: 3px solid #fff;
  padding: .2rem;
  -webkit-animation: fadein 4s;
  animation: fadein 4s;
} */
.stc-selected-tab .stc-tab {
  background: #d9272e;
  margin-top: -0.4rem; 
}

.stc-icon-store-size {
  width: 140px;
  margin: 0 auto;
  /* margin: 0.5rem; */
}
.stc-icon-store-size-1 {
  width: 95px;
  margin: 0 auto;
}
.stc-icon-store-size-2 {
  width: 108px;
  margin: 0 auto;
}

.stc-tab .ant-card-cover {
  display:inline-block;
}
.stc-tab .ant-card-body {
  display:inline-block;
  padding: 14px;
  width: 60%;
  min-height: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 
/********************************************************** Media queries **********************************************************/

@media (min-width: 2560px) {
  /* CSS */
  .ant-col-xl-6 {
    width: 12%;
  }
}
/* 
  ##Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) and (max-width: 2559px) {
  /* CSS */
  .ant-col-xl-6 {
    width: 22%;
  }
}

/* 
  ##Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
 /* css */
 .ant-steps-navigation .ant-steps-item.ant-steps-item-active::before{
  width: 70%;
 }
 .stc-new-footer {
  padding: 0 12rem;
 }
 .ant-col-lg-12 {
  width: 32;
 }

}

/* 
  ##Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .stc-form {
    /* margin: 0; */
    margin: 1.5rem 0rem 0rem;
  }
  .stc-new-footer {
    padding: 0 4rem;
  }
  .ant-steps {
    width: 45%;
  }
  .ant-steps-navigation .ant-steps-item.ant-steps-item-active::before{
    width: 60%;
  }
  .stc-content .ant-card.stc-card-widget.ant-card-bordered .ant-card-head-title{
    font-size: 1.6rem;
  }
  .ant-col-lg-12 {
    width: 43%;
  }
}


/* 
  ##Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .stc-tabs.ant-row.ant-row-center.ant-row-middle .stc-main-title h1 {
    font-size: 1rem;
  }
  /* ******************************************************** */
  .stc-content .ant-card.stc-card-widget.ant-card-bordered {
    width: 95%;
  }  
  .stc-form {
    margin: 0;
  }
  /* ******************* */
  .ant-steps-horizontal.ant-steps-label-horizontal {
    display: flex;
  }
  .ant-steps {
    display: flex;
    width: 70%;
  }
  .ant-steps-navigation .ant-steps-item {
    overflow: visible !important;
    text-align: center;
  }
  .ant-steps-item {
    display: inline-block !important;
  }

  /* ******************** */
  .stc-tab {
    border-radius: 20px;
    /* display: block; */
  }

  .stc-icon-size {
    height: 55px;
    width: 55px;
  }

  /* ******************************+ */
  .ant-row.stc-head-tabs {
    width: 100%;
  }
  /* .stc-selected-tab .stc-card-selected-border {
    padding: 0.3rem;
  } */
  .stc-new-footer {
    padding: 0 6rem;
  } 

  .ant-steps-navigation .ant-steps-item::after{
    top: 55%;
    left: 80%;
  }
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: transparent;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: transparent;
  }

  .stc-tabs.ant-row.ant-row-center.ant-row-middle{
    padding: 0 0 0.5rem;
  }

  .stc-content .ant-card.stc-card-widget.ant-card-bordered .ant-card-head-title{
    font-size: 0.78rem;
  }

  .stc-tab .ant-card-cover {
    display:block;
  }
  .stc-tab .ant-card-body {
    display:block;
    /* padding: 20px;
    width: 60%; */
  }
  .stc-tab .ant-card-meta-title {
    font-size: 1.1rem;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .stc-tabs.ant-row.ant-row-center.ant-row-middle .stc-main-title h1 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  /* ******************************************************** */
  .stc-content .ant-card.stc-card-widget.ant-card-bordered {
    width: 95%;
  }
  .stc-content .ant-card.stc-card-widget.ant-card-bordered .ant-card-head-title{
    font-size: 0.78rem;
  }
  .stc-content .ant-card.stc-card-widget.ant-card-bordered .ant-card-body {
    margin-top: -12px;
  }  
  .stc-form {
    /* margin: 0; */
    margin: 0.6rem 0rem 0rem;
  }
  /* *****************************************************+ */
  .ant-steps-horizontal.ant-steps-label-horizontal {
    display: flex;
  }
  .ant-steps {
    display: flex;
    width: 70%;
  }
  .ant-steps-navigation .ant-steps-item {
    overflow: visible !important;
    text-align: center;
  }
  .ant-steps-item {
    display: inline-block !important;
  }
  /* ******************************+ */
  .stc-tab {
    border-radius: 20px;
    display: block;
  }

  .stc-icon-size {
    height: 55px;
    width: 55px;
  }
  .ant-row.stc-head-tabs {
    width: 100%;
  }

  /* ******************************+ */
  .ant-row.stc-head-tabs {
    width: 100%;
  }
  /* .stc-selected-tab .stc-card-selected-border {
    padding: 0.2rem;
  }  */

  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: #d9272e;
  }

  .stc-new-footer {
    padding: 0 1rem;
    font-size: 0.6rem;
  }
  .ant-steps-navigation .ant-steps-item::after{
    top: 45%;
    left: 70%;
  }
  .ant-steps-navigation .ant-steps-item.ant-steps-item-active::before {
    width: 40%;
  }
  .ant-steps-navigation .ant-steps-item:before {
    bottom: 15px;
  }
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: transparent;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: transparent;
  }

  .stc-landing-logo-header{
    max-width: 12rem;
  }
  .stc-head-tabs {
    /* padding: 0 1rem; */
    padding: 0;
  }

  .stc-tabs.ant-row.ant-row-center.ant-row-middle{
    padding: 0 0 0.5rem;
  }

  .stc-tab .ant-card-cover {
    display:block;
  }
  .stc-tab .ant-card-body {
    padding: 8px;
    display:block;
    width: 100%;
    height: 2.5rem;
    min-height: 0;
  }
  .stc-tab-border {
    padding: 1.5px 4px;
  }
  .stc-tab .ant-card-meta-title {
    font-size: .7rem;
  }

  .ant-col.ant-form-item-label label{
    font-size: 0.78rem;
  }
}



